* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	list-style: none;
	text-decoration: none;
}

/* 1 Header + Home(Begzod) */

/* 2 CreateX(Mirzohid) */

/* 3 Courses(Shamsiddin) */

/* 4 Benefits(Muhammad Ali) */

/* 5 Events(Obidxon) */

/* 6 Certificate(Azamat) */
.mainh2 {
	font-size: 49px;
	margin-top: 5px;
}
.mainp1 {
	margin-top: 26px;
	size: 16px;
}
.bbbbbb {
	/* width: 500px; */
   padding-left: 130px;
   
}
.ddddddd {
	height: 500px;
	display: flex;
	justify-content: center;
}
.tttt {
	padding-top :40px ;
}
/* 7 Team(Maqsudali) */

/* 8 Testimonials(Muslima) */

/* 9 Posts(Asadbek) */

/* 10 School(Muhammadolim) */

/* 11 Footer(Muhammad) */
