* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	list-style: none;
	text-decoration: none;
}

/* 1 Header + Home(Begzod) */

/* 2 CreateX(Mirzohid) */

/* 3 Courses(Shamsiddin) */

/* 4 Benefits(Muhammad Ali) */

/* 5 Events(Obidxon) */

/* 6 Certificate(Azamat) */

/* 7 Team(Maqsudali) */

/* 8 Testimonials(Muslima) */

/* 9 Posts(Asadbek) */

/* 10 School(Muhammadolim) */

/* 11 Footer(Muhammad) */
